h3 {
  margin-top: 0;
}

p {
  margin: 0;
}

header {
  display: block; /* Der Header wird als Flex-Container angezeigt */
  width: 100%; /* Die Breite des Headers soll 100% der Bildschirmbreite sein */
  background-color: #ffe369; /* Hintergrundfarbe des Headers */
  margin: 0;
  padding: 0;
  text-align: center;
}

header h1 {
  font-size: 24px;
  margin: 0;
  padding: 10px;
  color: #333;
}

nav {
  position: sticky;
  top: 0;
  display: flex; /* Der Header wird als Flex-Container angezeigt */
  align-items: center; /* Die Elemente im Header werden vertikal zentriert */
  border-top: 1px solid #000;
}

.headerButton {
  width: 34%;
  padding: 10px;
  border-radius: 0;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #ffe369;
}

.aHeader {
  text-decoration: none; /* Entfernt die Unterstreichung des Links */
  color: #333; /* Ändert die Farbe des Links */
  margin: 0 10px; /* Fügt Platz um den Link hinzu */
}

.body {
  color: #333;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.main {
  margin-top: 16px;
}

.divBlog-post {
  background-color: #eeeeee;
  border: 2px solid #000;
  margin: 0 10px 20px 10px;
  padding: 20px;
  border-radius: 20px; /* Rundet alle vier Ecken um 10 Pixel */
}

.blog-title {
  font-size: 24px;
  margin-top: -3px;
  margin-bottom: 10px;
}

.blog-date {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.blog-content {
  font-size: 16px;
}

.divText {
  flex: 1; /* Der Text nimmt den verfügbaren Platz ein */
  padding: 20px; /* Fügen Sie Platz um den Text hinzu */
}

.divImage {
  flex: 1;
  width: 100%; /* Das Bild nimmt die gesamte Breite des Containers ein */
  height: auto; /* Die Höhe des Bildes passt sich automatisch an */
  display: block; /* Das Bild wird als Blockelement angezeigt */
}

.imgBienenBild {
  width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 20px; /* Rundet alle vier Ecken um 10 Pixel */
}

.divTextAndImage {
  display: flex;
}

.pSource {
  font-size: 12px;
  color: #666;
}

.divParagraph {
  margin-bottom: 10px;
  border: 2px solid #000;
  padding: 10px;
}

