# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
.idea
/webpack.config.prod.js
/js/
/site.webmanifest
/robots.txt
/.editorconfig
/icon.svg
/icon.png
/404.html
/webpack.config.dev.js
/LICENSE.txt
/img/
/.gitattributes
/favicon.ico
/webpack.common.js
/package.json
